- var permalink = 'comment' + index;

div(id=permalink, class="#{comment.metadata.reply ? 'comment reply' : 'comment'}")
  .comment-meta
    h3.comment-name
      if comment.metadata.url
        a(href=comment.metadata.url)= comment.metadata.name
      else
        = comment.metadata.name
    span.comment-date= comment.metadata.date

  .comment-body
    !{comment.html}
